<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <a href="/signup"> Sign up</a>
    <a href="/login">Log in</a>
    <a href="/dashboard">Get Started</a>
  </body>
</html>
