<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="POST" action="/signup">
      <label for="username">Username: </label>
      <input type="email" name="username" required />
      <label for="password1">Password: </label>
      <input type="password" name="password1" required />
      <label for="password2">Re-enter your password: </label>
      <input type="password" name="password2" required />
      <button type="submit">Sign Up</button>
    </form>
    <a href="/login">Already have an account? Log in here.</a>
  </body>
</html>
